* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: #f5f5f5;
}

header {
    background-color: pink;
    text-align: center;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
}

section {
    padding: 20px;
    text-align: center;
}

img {
    border-radius: 50%;
    margin: 10px;
}

#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container dos projetos */
#lista-projetos {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cards */
#lista-projetos div {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    gap: 5px;
}

input, textarea {
    padding: 5px;
}

button {
    background-color: pink;
    border: none;
    padding: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
